<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Vérification de compte</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
<div id="conteneur">
<h1 id="header"><span>Vérification de votre compte.</span></h1>
<h2>Afin de vérifier votre compte, veuillez cliquer <a href="http://localhost:3333/api/v1/security/verify/%7B%7B token }}">ici</a>.</h2>
<p id="text">Bonjour, bienvenue sur la page de vérification de compte.</p>
<p id="footer"> &copy;MiniCraft - All Right Reserved.</p>
</div>
</body>
</html>